.instructor-home-container {
    font-family: "Oxygen";
    background: #E5F2F8;
    height: 100vh;

    .navigation {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70px;
        grid-template-areas: "logo  navigation";
        background: #29B6F6;

        h2 {
            grid-area: logo;
            justify-self: start;
            align-self: center;
            font-size: 1.4rem;
            font-weight: normal;
            margin-left: 15%;
        }

        nav {
            grid-area: navigation;
            justify-self: center;
            align-self: center;

            .nav-item {
                padding: 10px;
                border-radius: 5px;
            }

            .home {
                background: #FFF;
                color: black;
                text-decoration: none;
                margin-right: 20px;

                &:hover {
                    background: darken(#FFF, 20%);
                }
            }

            .classes {
                margin-right: 20px;
                background: #588AFF;
                color: white;
                text-decoration: none;

                &:hover {
                    background: darken(#588AFF, 10%);
                }
            }

            .add-class {
                background: #FFEE58;
                color: black;
                text-decoration: none;

                &:hover {
                    background: darken(#FFEE58, 20%);
                }
            }
        }
    } //navigation

    .classes-container {
        background: #E5F2F8;
        padding: 50px 100px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .class-element {
            height: 275px;
            width: 20%;
            border: 1px solid black;
            border-radius: 10px;
            background: #E2E6E9;
            box-shadow: 2px 2px 2px gray;
            margin: 15px;

            img {
                height: auto;
                width: 100%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .class-element-content {
                padding: 10px;

                .class-title {
                    margin-bottom: 7.5px;
                    font-weight: bold;
                }

                .class-date {
                    color: #5B5D5E;
                }
            }

            .class-element-buttons {
                padding-left: 10px;
                
                button {
                    cursor: pointer;
                    background: #FF0000;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    padding: 5px;
                    width: 75px;

                    &:hover {
                        background: darken(#FF0000, 10%);
                    }
                }
            }
        }
    }
}